body {
    background: linear-gradient(to right, blue, blueviolet, blue);
}

/* ------------------------------------------------------Web Page------------------------------------------------------ */

.bigbox{
    display: flex;
    flex: space around;
}

h1 {
    display: flex;
    justify-content: space-around;
}

.cs{
    
    margin-top: 250px;
    width: 25%;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    background-color: yellow;
}

.csh1{
    margin-top: 250px;
    margin-bottom: 250px;
}


/* ------------------------------------------------------Heading------------------------------------------------------ */

.calculator {
    margin-top: 250px;
    width: 25%;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    background-color: yellow;
    margin: auto;
    height: 500px;
    animation-name: cal;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes cal {
    0% {
        width: 0%;
        margin-top: 600px;
    }

    60% {
        width: 50%;
        margin-top: 250px;
    }

    70% {
        width: 40%;
    }

    80% {
        width: 45%;
    }

    90% {
        width: 40%;
    }

    95% {
        width: 43%;
    }

    100% {
        width: 40%;
    }
}

/* -----------------------------------------------------main purpose------------------------------------------------------ */

.inputs {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputs input {
    margin-top: 5px;
    width: 90%;
    border-style: solid;
    border-color: aqua;
    border-radius: 5px;
}

/* -----------------------------------------------------inputs------------------------------------------------ */

button {
    padding: 5px;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
}

.basic {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: yellowgreen;
    margin: auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.basic button {
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
}


.exponents {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: yellowgreen;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.exponents button {
    width: 40%;
}

.men {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: yellowgreen;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.men button {
    width: 40%;
}

button:hover {
    background-color: rgb(176, 210, 245);
    border-style: solid;
    border-color: aquamarine;
    border-radius: 10px;
}

/* ------------------------------------------------------Buttons------------------------------------------------------ */

p {
    display: flex;
    justify-content: space-around;
}

/* ------------------------------------------------------Result------------------------------------------------------ */

h3 {
    width: 5%;
    margin-top: 330px;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
}

/* ------------------------------------------------------Creator------------------------------------------------------ */